<div class="main-content-header">
  <div class="left-header">
    <div class="header-title">
      <%= "note" %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
        <% if user_signed_in? %>
          <%= link_to current_user.name, "#", class: "user-nickname" %></li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% else %>
          <%= link_to 'ログイン', user_session_path, class: "login" %></li>
          <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <% end %>
    </div>
  </div>
</div>

<div class="primary-text">
  <%= render "primary_text" %>
</div>
